Delete Order :-
<br>
<form (submit)="onSubmit()">
    <div>
        <label for="id">Id:</label>
          <input type="text" id="id" name="id" [(ngModel)]="id">
    </div>
<div>
    <label for="orderItems">Updated OrderItems:</label>
      <input type="text" id="orderItems" name="orderItems" [(ngModel)]="orderItems">
</div>
<div>
    <label for="restaurentName">RestaurentName :</label>
      <input type="text" id="restaurentName" name="restaurentName" [(ngModel)]="restaurentName">
</div>

  <button type="submit">Submit</button>
  </form>